html{
	cursor: crosshair;
}
body {
	width:100%;
	height: auto;
	font-family: "Seoge UI", Arial;
	font-weight: 300;
	background: linear-gradient(180deg,black,darkblue);
	color: white;
	margin: 0;
}
 body h1 {
	text-align: center;
	font-weight: 1000;
	font-size: 50px;
 }
.hero{
	width: 100%;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("images.jpeg");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
 body hr{
	color: grey;
	
 }
