html{
	cursor: crosshair;
}
body {
	width:100%;
	height: auto;
	font-family: "Seoge UI", Arial;
	font-weight: 300;
	background: black;
	color: white;
	margin: 0;
	background-attachment: fixed;
}
 body h1 {
	text-align: center;
	font-weight: 1000;
	font-size: clamp(2rem,8vm,10rem);
 }
.hero{
	max-width: 100%;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("images.jpeg");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
 body hr{
	color: grey;
	
 }
.site-nav{
	position: sticky;
	top:0;
	z-index: 1000;
}
.site-nav ul{
	display:flex;
	justify-content: space-between;
	gap: 16px;
	list-style: none;
	padding:0 ;
	margin: 0;
	backdrop-filter: blur(12px);
	background: linear-gradient(240deg,midnightblue,0F0F0F);
}
.site-nav a{
	display: block;
	padding: 12px 20px;
	border-radius: 0;
	text-decoration: none;
	color: beige;
	font-weight: 700;
	transform: perspective(700px) rotateX(0deg) rotateY(0deg);
	transition: 0.3s ease;
}
.site-nav a:hover,.site-nav a:active{
	
	transform: perspective(700px) rotateX(3deg) rotateY(-6deg) translateY(-6px);
	box-shadow: 0 5px 8px rgba(15,23,42,0.35);
	background: crimson;
	color: azure;
	border-radius: 999px;
}
.card {
	overflow: hidden;
	background: linear-gradient(240deg,midnightblue,transparent);
	opacity: 30%;
	border-radius: 18px;
	box-shadow:0 20px 40px rgba(15,23,42,0.35);
	display: grid;
	gap: 0;
	margin: 20px;
}
	
